<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Store</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <header>
      <h1 id="title">Welcome to Grocery Buddy</h1>
    </header>

    <nav>
        <a class="button" href="/">My Foods</a>
        <a class="button" href="/addItem">New Food</a>
    </nav>

    <div class="container">
      {{{body}}}
    </div>

  </body>
</html>
